<div id="<%= dom_id student %>">
  <p>
    <strong>Roll:</strong>
    <%= student.roll %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= student.class %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= student.remarks %>
  </p>

</div>
