<div id="<%= dom_id student %>">
  <p>
    <strong>Roll:</strong>
    <%= student.roll %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= student.student_class %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= student.remarks %>
  </p>

  <% student.todos.each do |todo| %>
    <p>
      <strong>Task:</strong>
      <%= todo.task %>
    </p>

    <p>
      <strong>Day:</strong>
      <%= todo.day %>
    </p>
  <% end %>

</div>
