<div id="<%= dom_id student %>">
  <td>
    <p>
      <strong>Roll:</strong>
      <%= student.roll %>
    </p>
  </td>

  <td>
    <p>
      <strong>Name:</strong>
      <%= student.name %>
    </p>
  </td>

  <td>
    <p>
      <strong>Class:</strong>
      <%= student.student_class %>
    </p>
  </td>

  <td>
    <p>
      <strong>Remarks:</strong>
      <%= student.remarks %>
    </p>
  </td>

  <td>
    <% student.todos.each do |todo| %>
      <p>
        <strong>Task:</strong>
        <%= todo.task %>
      </p>

      <p>
        <strong>Day:</strong>
        <%= todo.day %>
      </p>
    <% end %>
  </td>

</div>
