<div>
  <div>
    <%= form.label :task, style: "display: block" %>
    <%= form.text_field :task %>
  </div>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.number_field :day %>
  </div>

  <%= link_to_remove_association "remove todo", form %>
</div>
  